<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
                Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servers" routerLinkActive="active">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">-->
      <!--<app-home></app-home>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">-->
      <!--<app-users></app-users>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">-->
      <!--<app-servers></app-servers>-->
    <!--</div>-->
  <!--</div>-->
</div>
