<div class="row">
    <div class="col-xs-12">
        <app-shopping-edit></app-shopping-edit>
        <!-- (ingredientAdded)="onIngredientAdded($event)" -->
        <!-- ></app-shopping-edit> -->
        <hr />
        <ul class="list-group">
            <!-- <a  -->
            <!--     href="#" -->
            <a class="list-group-item" style="cursor: pointer"
                *ngFor="let ingredient of (ingredients | async); let i = index" (click)="onEditItem(i)">
                <!-- *ngFor="let ingredient of (ingredients | async)?.ingredients; let i = index" (click)="onEditItem(i)"> -->
                <!-- *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)"> -->
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </ul>
    </div>
</div>
