<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name }}</strong> | {{ server.instanceType }} | {{ server.started }}
          <span
            class="badge badge-dark badge-pill float-right">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
