<div class="row">
    <div class="col-xs-12">
        <button 
            class="btn btn-success"
            (click)="onNewRecipe()"
            >New Recipe</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <!-- <app-recipe-item -->
            <!-- *ngFor="let curRecipe of recipes; let i = index" -->
        <app-recipe-item
            *ngFor="let curRecipe of (recipes$ | async); let i = index"
            [recipe]="curRecipe"
            [index]="i"
            ></app-recipe-item>
            <!-- (recipeSelected)="onRecipeSelected(curRecipe)" -->
            <!-- ></app-recipe-item> -->
    </div>
</div>
